In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

### Criando um dicionário sobre as vendas de um estabelecimento

In [3]:
data_vendas = {
    'produto': ['Notebook', 'Microondas', 'Geladeira', 'Planta', 'Monitor'],
    'categoria': ['Eletrônico', 'Eletrodomésticos', 'Eletrodomésticos', 'Decoração', 'Eletrônico'],
    'preco': [3500.0, 567.9, 3780.78, 25.9, 1290.99],
    'quantidade_vendida': [120, 179, 235, 765, 268],
    'data_venda': ['2024-03-10', '2024-04-12', '2024-03-15', '2024-03-18', '2024-03-20']
}

### Adicionando o dicionário ao DataFrame "df" para uma vizualização de forma tabular

In [5]:
df = pd.DataFrame(data_vendas)

NameError: name 'pd' is not defined

### Mostrando a tabela

In [ ]:
df

      produto         categoria    preco  quantidade_vendida  data_venda
0    Notebook        Eletrônico  3500.00                 120  2024-03-10
1  Microondas  Eletrodomésticos   567.90                 179  2024-04-12
2   Geladeira  Eletrodomésticos  3780.78                 235  2024-03-15
3      Planta         Decoração    25.90                 765  2024-03-18
4     Monitor        Eletrônico  1290.99                 268  2024-03-20

### Mudando o tipo de "data_venda" para o tipo DATE

In [ ]:
df['data_venda'] = pd.to_datetime(df['data_venda'])

### Mostrando os tipos dos itens

In [ ]:
df.dtypes

produto                       object
categoria                     object
preco                        float64
quantidade_vendida             int64
data_venda            datetime64[ns]
dtype: object

### Criando uma nova coluna onde multiplica as quantidades vendidas pelo preço, obtendo o lucro bruto.

In [ ]:
df['nova_receita'] = df['preco'] * df['quantidade_vendida']

In [ ]:
df

,produto,categoria,preco,quantidade_vendida,data_venda,nova_receita
0,Notebook,Eletrônico,3500.00,120,2024-03-10,420000.00
1,Microondas,Eletrodomésticos,567.90,179,2024-04-12,101654.10
2,Geladeira,Eletrodomésticos,3780.78,235,2024-03-15,888483.30
3,Planta,Decoração,25.90,765,2024-03-18,19813.50
4,Monitor,Eletrônico,1290.99,268,2024-03-20,345985.32

### Selecionando apenas as vendas de março de 2024

In [ ]:
vendas_marco = (df['data_venda'].dt.month == 3) & (df['data_venda'].dt.year == 2024)

In [ ]:
df[vendas_marco]

,produto,categoria,preco,quantidade_vendida,data_venda,nova_receita
0,Notebook,Eletrônico,3500.00,120,2024-03-10,420000.00
2,Geladeira,Eletrodomésticos,3780.78,235,2024-03-15,888483.30
3,Planta,Decoração,25.90,765,2024-03-18,19813.50
4,Monitor,Eletrônico,1290.99,268,2024-03-20,345985.32

### Selecionando o item mais vendido, sua categoria e sua receita

In [ ]:
df_max = df.loc[[df['nova_receita'].idxmax()], ['produto', 'categoria', 'nova_receita']]
df_max

     produto         categoria  nova_receita
2  Geladeira  Eletrodomésticos      888483.3

### Agrupando os itens da categoria para somar a receita, dessa vez por categoria

In [ ]:
df.groupby('categoria')['nova_receita'].sum()

categoria
Decoração            19813.50
Eletrodomésticos    990137.40
Eletrônico          765985.32
Name: nova_receita, dtype: float64

### Ordenando a "nova_receita" de forma decrescente, desde o mais vendido ao menos

In [ ]:
df.sort_values('nova_receita', ascending=False)

,produto,categoria,preco,quantidade_vendida,data_venda,nova_receita
2,Geladeira,Eletrodomésticos,3780.78,235,2024-03-15,888483.30
0,Notebook,Eletrônico,3500.00,120,2024-03-10,420000.00
4,Monitor,Eletrônico,1290.99,268,2024-03-20,345985.32
1,Microondas,Eletrodomésticos,567.90,179,2024-04-12,101654.10
3,Planta,Decoração,25.90,765,2024-03-18,19813.50